{% load materializecss %}

<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Is anyone in Cam?</title>
    </head>
    <body>
        <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
        </script>

        <div class="container">
            <div class="row">
                <div class="col s12 m12 l8 xl8">
                    {% if places %}
                        {% for place, checkins in places.items %}
                            <div class="card {{ place.color }}">
                                <div class="card-content">
                                    <span class="card-title">{{ place.name }}</span>
                                    <ul class="collection">
                                        {% for checkin in checkins %}
                                            <li class="collection-item {% if checkin.person.facebook_photo %}avatar{% endif %}" style="word-wrap: normal;">
                                                <div>
                                                    {% if checkin.person.facebook_photo %}
                                                        <img src="{{checkin.person.facebook_photo}}" class="circle">
                                                    {% endif %}
                                                    {{ checkin.prettyNoPlace }}
                                                    {% if checkin.is_future_fresh %}
                                                        <a href="{% url 'scratch' checkin.pk %}" class="secondary-content"><i class="material-icons">close</i></a>
                                                        <a href="{% url 'start' checkin.pk %}" class="secondary-content"><i class="material-icons left">keyboard_tab</i></a>
                                                    {% elif checkin.is_fresh %}
                                                        <a href="{% url 'scratch' checkin.pk %}" class="secondary-content"><i class="material-icons">close</i></a>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                {% else %}
                    <div class="card-panel blue darken-3">
                        <span class="white-text">
                            Nobody's checked in.
                        </span>
                    </div>
                {% endif %}
                </div>
                
                <div class="col s12 m12 l4 xl4">
                    {% if form.errors %}
                        <div class="card-panel red darken-1">
                            <span class="white-text">
                                Please check the errors in the form below.
                            </span>
                        </div>
                    {% endif %}
                    <div class="card blue lighten-5">
                        <div class="card-content">
                            <span class="card-title">Check In</span>
                            <form method="post">{% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn waves-effect waves-light" type="submit" name="action">Check In
                                    <i class="material-icons right">send</i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card amber">
                            <div class="card-content">
                                <span class="card-title">Leaderboard</span>
                                <ul class="collection">
                                    {% for person in people %}
                                    <li class="collection-item">{{ person.name }}<div class="secondary-content">{{ person.getScore }}</div></li>
                                    {% endfor %}
                                </ul>
                                
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
        $(document).ready(function(){
            $('.datepicker').datepicker(
                {
                    format: "yyyy-mm-dd",
                    autoClose: true
                }
            );
        });
        $(document).ready(function(){
            $('.timepicker').timepicker(
                {
                    twelveHour: false,
                    autoClose: true
                }
            );
        });
        </script>
    </body> 
</html>