{% load materializecss %}

<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Is anyone in Cam?</title>
    </head>
    <body>

        <div class="container">
            {% if places %}
                {% for place, checkins in places.items %}
                    <p>
                        <h4>{{ place }}</h4>
                        <ul>
                            {% for checkin in checkins %}
                                {% if checkin.scratched %}
                                    {% if checkin.is_future_fresh %}
                                        <li><s>{{ checkin.person }} - <i>Planned for {{ checkin.start_time|time }}</i></s></li> 
                                    {% elif checkin.is_fresh %}
                                        <li><s>{{ checkin.person }} - <i>Until {{ checkin.end_time|time }}</i></s></li> 
                                    {% endif %}
                                {% else %}
                                    {% if checkin.is_future_fresh %}
                                        <li>{{ checkin.person }} - <i>Planned for {{ checkin.start_time|time }} to {{ checkin.end_time|time }} </i> <a href="scratch/{{ checkin.person }}">❌</a></li> 
                                    {% elif checkin.is_fresh %}
                                        <li>{{ checkin.person }} - <i>Until {{ checkin.end_time|time }} </i><a href="scratch/{{ checkin.person }}">❌</a></li> 
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </p>
                {% endfor %}
            {% else %}
                <h4>Nobody's checked in.</h4>
            {% endif %}
            
            <h4>Check In</h4>
            <div>
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Check in">
                </form>
            </div>
        </div>

        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
        $(document).ready(function(){
            $('.datepicker').datepicker(
                {
                    format: "yyyy-mm-dd",
                    autoClose: true
                }
            );
        });
        $(document).ready(function(){
            $('.timepicker').timepicker(
                {
                    twelveHour: false,
                    autoClose: true
                }
            );
        });
        </script>
    </body> 
</html>